<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC  "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean id="repository" class="com.ioc.sample.RepositoryImpl">
  </bean>
  <bean id="validator" class="com.ioc.sample.ValidatorImpl">
  </bean>
  <bean id="manageCompany" class="com.ioc.sample.ManageCompanyImpl">
	<constructor-arg ref="repository"/>
	<constructor-arg ref="validator"/>
	<property name="CompanyId" value="99"/>
  </bean>
  <bean id="manageCompany2" class="com.ioc.sample.ManageCompanyImpl2">
	<constructor-arg ref="repository"/>
	<constructor-arg ref="validator"/>
	<property name="CompanyId" value="999"/>
  </bean>      
</beans>